<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Squadpage A</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
    <script src="https://kit.fontawesome.com/20861d0bcc.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
		<h1><%= squad.name %></h1>
		<section class="options">
			<div class="options-title">
				<h2>Sorteren</h2>
				<i class="fa-solid fa-caret-down"></i>
			</div>
			<h2 class="options-title-large">Sorteren:</h2>
			<div class="sort-filter">
				<a href="/?orderBy=name">Voornaam A-Z</a>
				<a href="/?orderBy=name&direction=DESC">Voornaam Z-A</a>
				<a href="/?orderBy=surname">Achternaam A-Z</a>
				<a href="/?orderBy=surname&direction=DESC">Achternaam Z-A</a>
			</div>
		</section>
	</header>